resource "aws_api_gateway_integration" "{{path.method}}_{{path.name}}" {
  rest_api_id = "${aws_api_gateway_rest_api.{{service.name}}.id}"
  resource_id = "${aws_api_gateway_rest_api.{{service.name}}.root_resource_id}"
  http_method = "${aws_api_gateway_method.get_root.http_method}"
  type        = "MOCK"

  passthrough_behavior = "WHEN_NO_MATCH"
}
