{
  "include": [
    "lib/**/*.ts"
  ],
  "exclude": [
    "**/*.spec.ts",
    "lib/index.ts",
    "lib/swagger-converter/models"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "cobertura",
    "html",
    "text"
  ],
  "all": true
}
